body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(85,139,47);
  color: white;
  border: none;
  cursor: pointer;
  
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  /* overflow-y:scroll ; */
  display: none;
  position: fixed;
  bottom: 0;
  right: 21px;
  border: 1px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
border-radius: 20px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  border-radius: 4%;
  background-color: rgb(38,40,49);
    color: white;
    padding: 15px 17px;
    border: none;
    cursor: pointer;
    width: 37%;
    margin-bottom: 14px;
    opacity: 0.8;
    margin-left: 58%
    
}
/* 
/* Add a red background color to the cancel button */
/* .form-container .cancel {
  background-color: red;
}  */

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#help{width: 119px;
    height: 52px;
      border-radius: 27%;}
      .form-container>div>img{    width: 100%;
    height: 49px;}
    .form-container>label{margin-left: 3%; display:block; margin-top: 10px;}
    .form-container>input{margin-left: 2%; width: 95%; height: 30px; margin-top: 10px; margin-bottom: 10px;}
  #myForm{height: 525px;}