html {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


#logo {
   width: 100px;
   height: 45px;
}

#pplogo {
   width: 35px;
   height: 35px;
}

#explorenavbar {
   display: flex;
}
#dropdownarrow {
   width: 12px;
   height: 8px;
   padding-top: 20px;
   margin-left: 1%;

}

#logodiv {
   margin-left: 10%;
}

#nav2div {
   margin-left: 60%;
}

.loginp {
   margin-left: 10px;
   line-height: 10px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color: #5c5c5c;
}

#typesearch {
   width: 90%;
   padding-left: 10px;
}

#searchbtn {
   border: 1px solid rgb(124, 122, 122);
   background-color: black;
   color: white;
   font-size: 17px;
   width: 10%;
}

#citynames {
   border: 1px solid rgb(124, 122, 122);
   width: 65%;
   margin: 10px 18% 5em 18%;
   height: 45vh;
   overflow-y: scroll;
   border: 1px solid rgb(214, 212, 212);
   padding: 20px;
   box-sizing: border-box;
   border-radius: 2px;
   color: #424242;
}
#searchbar {
   justify-content: space-between;
   display: flex;
   border-radius: 1px;
   margin-left: 18%;
   width: 65%;
   height: 40px;
   margin-top: 5em;
}

#dropdowndiv {
   height: 70px;
   visibility: hidden;
   width: 100px;
   text-align: center;
   margin-top: 40px;
   border: 1px solid bisque;
}

#citynames>p {
   padding-left: 10px;
   cursor: pointer;
}