body{
    padding: 0%;
    margin: 0%;
}
#mainbody{
    width:100%;
    height:1000px;
    display: flex;
    margin-top: 5px;
    border: 1px solid transparent;
}



 /* Navbar start */
 #navbar{
    height: 66px;
    background-color: #FEFFFE;
    width: 100%;
    
}
body{
    margin: auto;
}
#logo{ 
    width: 100px; 
    height: 45px; 
    margin-left: -60%;
}

#pplogo{
    width: 35px; 
    height: 35px;
}

#explorenavbar{
    display: flex; 
    padding-top: 10px; 
    width: 100%;
    height: 100%; 
    box-shadow: rgba(0, 0, 0, 0.185) 0px 3px 5px;
}

#dropdownarrow{
    width: 12px; 
    height: 8px;
    padding-top: 20px; 
    margin-left: 1%;
}

#logodiv{
    margin-left: 9.5%;
    margin-top: 10px;
}

#nav2div{
    margin-left: 67.5%; margin-top: 5px;
    display: flex; margin-top: 10px;
}

.loginp{
    margin-left: 10px; 
    line-height: 10px;
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #5c5c5c;
}

#nav2div:hover{
    cursor: pointer;
}

/* popup styling */


*{
    box-sizing: border-box;
}

#modal_container{
    border: 1px solid green;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

button{
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: green;
}

#close{
    height: 27px;
    position: absolute;
    right: 20%;
    top: 17.5%;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#modal_container.show{
    opacity: 1;
    pointer-events: auto;
}

#modal{
    display: flex;
    background-color: white;
    margin-left: -1.5%;
    margin-top: -7%;
    border-radius: 5px;
    width: 59.3%;
    height: 290px;
    max-width: 100%;
}

#login_left_div{
    width: 40%;
    background-color: #fdbd51;

}

#login_right_div{
    width: 48.5%;
    height: 80%;
    margin-left: 5%;
    margin-top: 3.7%;
    text-align: center;
    font-family: Lato, sans-serif;
}

#input{
    color: #5c5c5c;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid rgb(160, 160, 160);
    border-bottom-width: 50%;
    border-image: initial;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 4px;
    padding-bottom: 8px !important;
    vertical-align: baseline;
    text-align: left;
    width: 100%;
}

#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#entermobile{
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    font-weight: 400;
    margin-bottom: 50px;
}

#user_phone_div{
    margin-bottom: 12px;
    display: flex;
}

#sendOTP{
    width: 100%;
    height: 20%;
    background-color: rgb(133, 199, 133);

}

#countryDrop{
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #424242;
    vertical-align: baseline;
    margin-left: 10px;
    width: 9%;
}
 

 /* Navbar End */








#addvenue{
    width:62%;
    height:100%;
    margin-left: 2.5%;
    border: 1px solid transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#addtocart{
    width:32%;
    height:30%;
    margin-left: 1%;
    border: 1px solid transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: sticky;
    top: 5px;
    left: 65%;
    
}
/* these is club name div style  */
#clubname{
    width:97%;
    height:7%;
    margin: auto;
    border:1px solid transparent;
    border-bottom: 1px solid rgb(233, 232, 232);
}
/* these is for club name */
#cname{
    color: rgb(134, 133, 133);
    font-size: 18px;
    font-family: 'lato',sans-serif;
    margin-left: 7%;
    margin-top: 3%;
    
}
/* these style for select sport div */
#selectsport{
    width:80%;
    height:14%;
    margin-left: 3%;
    border: 1px solid transparent;
}
/* these class is for all title designs */
.alltitles{
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'lato',sans-serif;
    margin-top: 3%;
}
#sportlogodiv{
    width:13%;
    height:60%;
    margin-left: 1%;
    border: 1px solid rgb(233, 232, 232);
    text-align: center;
    cursor: pointer;
}
#sportlogo{
    margin-top: 2%;
}
#onlogoname{
    color:rgb(161, 161, 161);
    line-height: 0%;
    font-family: 'lato',sans-serif;
    font-size: 14px;
}
/* these div style for date selection outer div */
#dateselection{
    width:94%;
    height:14%;
    margin-left: 3%;
    border: 1px solid transparent;
}
/* these style for day and date outer shadow wala div */
#dateandday{
    display: flex;
    width:99%;
    height:58%;
    margin-left: 1%;
    border: 1px solid rgb(245, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}

/* thse style for the date and dat small small inside divs */
.dayanddate{
    width:12.50%;
    height:100%;
    border-right: 1px solid rgb(245, 243, 243);
    cursor: pointer;
}
.dayname{
    color: rgb(180, 180, 180);
    font-family: 'Mulish', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 15%;
}
/* these style for select time div */
#selecttime{
    width:95%;
    height: 18%;
    margin-left: 3%;
    border: 1px solid transparent;
}
/* these style for upper timing block div */
#blocktime{
    display: flex;
    width:90%;
    height:17%;
    margin-left: 5px;
    border: 1px solid transparent;
}
/* these class style is for four time slots div */
.timeslot{
    width:19%;
    height:100%;
    margin-right: 2%;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-size: 12px;
    color:rgb(161, 161, 161);
    line-height: 30px;
    cursor: pointer;
}
/* these div style for small small time divs of half half hour */
#smalltimeupper{
    display: flex;
    margin-top: 2.5%;
    margin-left: 2%;
    width:75%;
    height:15%;
    border: 1px solid transparent;
}
.timeupper{
    width:10%;
    height:100%;
    margin-right: 1%;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-size: 12px;
    color:rgb(161, 161, 161);
    line-height: 30px;
    cursor: pointer;
}
 /* these div style for small small time divs of half half hour */
#smalltimelower{
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
    width:75%;
    height:15%;
    border: 1px solid transparent;
}
/* these style fir the select duration big div */
#duration{
    width:50%;
    height:10%;
    border: 1px solid transparent;
    margin-left:3%;
    margin-top: 1%;

}

/* these style for showing duration value whicj is increase or decrease */
#durationvalue{
    display:flex;
    width:43%;
    height:45%;
    margin-left: 3%;
    border: 1px solid transparent;
    justify-content: space-around;
    font-family: 'lato', sans-serif;
    font-size: 17px;
    color: rgb(114, 112, 112);
    /* justify-content: center; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}
.plusminus{
    width:15%;
    height:70%;
    border: 1px solid rgb(179, 179, 179);
    margin-top: 1%;
    border-radius: 20%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color:rgb(179, 179, 179);
    cursor: pointer;
}

/* these style for selecting court main div */
#selectcourt{
    width:90%;
    height:17%;
    border:1px solid transparent;
    margin-left: 3%;
}
#courtupper{
    display: flex;
    width:90%;
    height: 20%;
    border: 1px solid transparent;
    margin-left: 1%;
}
#courtlower{
    display: flex;
    width:90%;
    height: 20%;
    border: 1px solid transparent;
    margin-left: 1%;
    margin-top: 1%;
}
/* these style for select court inner small small court names */
.courtnames{
    width: 17%;
    height:100%;
    margin-right: 2%;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
    font-size: 15px;
    color:rgb(161, 161, 161);
    text-align: center;
    font-family: 'lato',sans-serif;
    line-height: 35px;
    cursor: pointer;
}
/* these div style is for show total cost after add all items */
#cost{
    width:80%;
    height:3%;
    margin-top: 2%;
    margin-left: 3%;
    color: rgb(66, 66, 66);
    letter-spacing: 1px;
    font-family: 'lato', sans-serif;
    border: 1px solid transparent;
}

/* these style for buttons */
#twobuttons{
    display: flex;
    justify-content: space-between;
    width:61%;
    height:4%;
    margin-top: 3%;
    margin-left: 4%;
    border: 1px solid transparent;
}
.btn{
    width:45%;
    height: 100%;
    background-color: #f2641a;
    color:white;
    border-radius:5px;
    border: none;
    cursor: pointer;
}

/* these style for cart title */
#mycart{
    width:94%;
    height:10%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-left: 3%;
}

#emptycart{
    margin: auto;
    width:100%;
    height:85%;
    border: 1px solid transparent;
}
#emptyimage{
    margin-top: 10%;
    margin-left: 30%;
}
#emptymessege{
    margin-left: 23%;
    margin-top: 7%;
}

/* these style for sportname in the cart make from javascript */
#sportname{
    width:94%;
    height:11%;
    color: rgb(138, 136, 136);
    font-family: 'lato',sans-serif;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-left: 3%;
}

/* these style for court name main div created form javascript */

#courtnamediv{
    display: flex;
    justify-content: space-between;
    width:28%;
    height:10%;
    border: 1px solid transparent;
    display: flex;
    margin-top: 7%;
    margin-left: 3%;
    color: rgb(143, 140, 140);
    font-size: 14px;
    line-height: 0;
    font-family: 'lato', sans-serif;
}

/* these style is for date and time div of cart */
#timedatecartdiv{
    display: flex;
    width: 94%;
    height: 10%;
    margin-left: 3%;
    margin-top: 2%;
    border: 1px solid transparent;
    justify-content: space-between;
}
#datecart{
    width:31%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    color: rgb(143, 140, 140);
    font-size: 14px;
    line-height: 0;
    font-family: 'lato', sans-serif;
}
#timecart{
    width:38%;
    display: flex;
    justify-content: space-between;
    height:100%;
    border: 1px solid transparent;
    color: rgb(143, 140, 140);
    font-size: 14px;
    line-height: 0;
    font-family: 'lato', sans-serif;
}
/* these style for design cost div from javascript */
#costdiv{
    display: flex;
    justify-content: space-between;
    width:20%;
    height: 10%;
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    color: rgb(143, 140, 140);
    font-size: 14px;
    line-height: 0;
    font-family: 'lato', sans-serif;
}

/* these div style is for making horizontal line under cost from javascript */
#horizontal{
    width: 94%;
    height:0;
    margin-top: 2%;
    margin-left: 3%;
    border-bottom: 1px solid rgb(211, 210, 210);
}

/* these style for design checkout cost div */
#checkoutcostdiv{
    width: 94%;
    height:20%;
    margin-left: 3%;
    margin-top: 2%;
    border: 1px solid rgb(211, 210, 210);
    display: flex;
}

/* these style for gren color price div */
#pricegreendiv{
    width:35%;
    height:100%;
    color: rgb(76, 175, 80);
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    font-family: 'lato', sans-serif;
    border: 1px solid transparent;
}

/* these style for checkout button from javascript */

#checkoutbutton{
    width: 60%;
    height: 80%;
    margin-left: 3%;
    margin-top:1%;
    border-radius: 5px;
    background-color: #f2641a;
    text-align: right;
    font-size: 15px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

#footer{
    margin-top: 20px;
}

/* these style for need help wala div */
#needhelp{
    position: fixed;
    bottom: 0%;
    right:10px;
    display: flex;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    justify-content: space-between;
    width:12%;
    height: 32px;
    background-color: #568c3e;
    color: white;
    font-family: 'lato', sans-serif;
    line-height: 0%;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
     
}

#needhelpiconimage{
    margin-top: 4%;
}