body{
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
    color:rgb(212, 212, 212);
}
#infooter{
    width:100%;
    height:290px;
    display: flex;
    background-color:#212121 ;
}

#div1{
    width:45%;
    height:90%;
    margin-top: 2%;
}

#div2{
    width:10%;
    height:90%;
    margin-top: 2%;
    margin-left: 2%;
    color: rgb(212, 212, 212);
    font-size: 14px;
    line-height: 12px;
    font-family: Lato, sans-serif;
}
#div3{
    width:10%;
    height:90%;
    margin-top: 2%;
    margin-left: 10%;
    color: rgb(212, 212, 212);
    font-size: 14px;
    line-height: 12px;
    font-family: Lato, sans-serif;
}
#div4{
    width:10%;
    height:90%;
    margin-top: 2%;
    margin-left: 10%;
    color: rgb(212, 212, 212);
    font-size: 14px;
    line-height: 12px;
    font-family: Lato, sans-serif;
}

/* these css designs for left side logo and links below it */
#weblogo{
    width:25%;
    height:28%;
    margin-left: 15%;
}
#playstore{
    width:23%;
    height:27%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-top: 3%;
}
#copyright{
    width:70%;
    height:10%;
    margin-left: 12%;
    font-size: 13px;
    font-style: italic;
    line-height: 0%;
    font-family: Lato, sans-serif;
    color:rgb(128, 128, 128);
}
#copy{
    font-size: 10px;
}
#loweritems{
    width:88%;
    height:20%;
    display: flex;
    margin-left: 12%;
    color:white;
    font-weight: 300;
    font-family: Calibri Light;
    /* line-height: 0%; */
    text-align: flex-start;
    justify-content: space-between;
}
#hiring{
    background-color:#4daa0b ;
    /* line-height: 0%; */
}