body {
  margin: 0px;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
}

#navbar {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 450;
  letter-spacing: normal;
  left: 0;
  right: 0;
  display: flex;
  max-width: 2500px;
  width: 100%;
  padding: 0;
  background-color: rgb(0, 0, 0, 0.2);
  margin: auto;
  z-index: 1;
}

#video_container {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#video {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  left: 0;
}

#nav_options {
  position: relative;
  width: 350px;
  height: 50%;
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin: 1.5% 0 0 27.1%;
  padding: 0;
  border: 1px solid transparent;
}

li {
  width: auto;
  height: 100%;
  margin-right: 10%;
  line-height: 23px;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
}

#logo {
  width: 21.6%;
  margin: 2.1% 0% 2% 16.5%;
}

.link-btn {
  color: #ffffff;
  text-decoration: none;
  line-height: 23px;
}

#download_app_div {
  position: absolute;
  display: flex;
  bottom: 9vh;
  justify-content: center;
  width: 100%;
  left: 0;
  z-index: 1;
}

.download_inner {
  margin: 15px;
}

.app_download_image {
  width: 170px;
  margin: 0px;
  padding: 0;
}

#footer {
  width: 100%;
  height: 281px;
  /* border: 2px solid red; */
}

/* 
@media only screen and (min-width:0px) and (max-width:415px){
  #video{
    visibility: hidden;
    width: 100%;
    
  }
  #navbar_container{
    width: 100%;
  }
  body{
    background-image: url("https://playov2.gumlet.net/home/Banner_image_new%402x.png");
    width: 100%;
  }

  #main{
    width: 100%;
  }

  #video_container{
    width: 100%;
  }
  #download_app_div{
    visibility: hidden;
  }

} */
