body {
  margin: 0px;
}
#navbar{
  background-color: rgb(0, 0, 0, 0.2);
}
#main {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
}

#video_container {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#video {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  left: 0;
}

#download_app_div {
  position: absolute;
  display: flex;
  bottom: 9vh;
  justify-content: center;
  width: 100%;
  left: 0;
  z-index: 1;
}

.download_inner {
  margin: 15px;
}

.app_download_image {
  width: 30px;
  margin: 0px;
  padding: 0;
}

#footer {
  width: 100%;
  height: 281px;
  /* border: 2px solid red; */
}

/* 
@media only screen and (min-width:0px) and (max-width:415px){
  #video{
    visibility: hidden;
    width: 100%;
    
  }
  #navbar_container{
    width: 100%;
  }
  body{
    background-image: url("https://playov2.gumlet.net/home/Banner_image_new%402x.png");
    width: 100%;
  }

  #main{
    width: 100%;
  }

  #video_container{
    width: 100%;
  }
  #download_app_div{
    visibility: hidden;
  }

} */
