body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    
}
#navbox{
    /* border: 1px solid red; */
    width: 100%;
    height: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#navbox_img{
    width: 110px;
    height: 47%;
    padding-left: 5%;
    cursor: pointer;
}
#navbox p{
    padding-top: 14px;
    font-size: 15px;
    color: #545252;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    letter-spacing: .5px;
}

#verticalbox1{
    border-right: 1px solid rgb(199, 199, 199);
    width: 272px;
    height: 587px;
}
#Vbox{
    display: flex;
    gap: 25px;
}
#verticalbox2{
  border: 1px solid transparent;
  width: 57%;
  margin-top: 10px;
  height: 565px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#verticalbox1> img{
 margin-top: 25px;
 margin-left: 25px;
 height:65px;
  width:65px;
}
#verticalbox2>#profile_img{
    margin: auto;
   padding-top: 30px;
 height:100px;
  width:105px;
}
#mob{
    padding-left: 33%;
    color: rgb(122, 122, 122) ;
    font-family:'Lato', sans-serif;
}
#line{
   width: 100%;
   border-bottom: 1px solid rgb(190, 190, 190);
}
#inputbox{
   width: 420px;
   margin: auto;
   margin-top: 70px;
}
#inputbox input{
   border: none;
   border-bottom:1px solid rgb(190, 190, 190);
   width: 100%;
   height: 25px;
}
 #mobile{
    
     margin-bottom: 0px;
     /* border-bottom:1px solid rgb(190, 190, 190); */
 }
#logo{
 
    display: flex;
    border-bottom:1px solid rgb(190, 190, 190);
    margin-top: 30px;
    color: gray;
    font-family: 'Lato', sans-serif;
}
#pp1{
    padding-left: 20px;
    margin-bottom: 0px;
}
#pp2{
  padding-left: 10px; 
 padding-top: 14px;
 margin-bottom: 0px;
}
#pp3{
    padding-left: 25%;
    margin-bottom: 0px;
}
.lastname{
    border: 1px solid red;
  margin-top: 30px;
}
.email{
 margin-top: 35px;
}
#sidebtn{
  margin-top: 50px;
}
#profile{
  display: flex;
  border: 1px solid transparent;
 
  width: 99.6%;
  height: 50px;
  align-items: center;
  color: gray;
  letter-spacing: .5px;
  text-decoration: none;
}

.feedback1{
    box-shadow: 0 1px 6px rgb(0 0 0 / 15%);
    color: red;
} 

#profile>img{
  margin-left: 20px;
  height: 56%;  
}
#profile>p{
  margin-left: 25px;
  font-size: 18px;
  text-decoration: none;
}

#buttons{
          
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 400px;
    
    justify-content: space-around;
}
#save,#reset{
    width: 40%;
    height: 43px;
    border: 0px;
cursor: pointer;
}
#save{
    background-color: #4daa0b;
    color: white;
    font-size: 16px;
}
#reset{
    border: 1px solid #4daa0b;
    background-color: white;
    color: #4daa0b;
    font-size: 16px;
}
#line1{
          
    margin-top: 20px;
}
#feedbuttons{
  margin: auto;
  margin-top: 17px;
  display: flex;
  width: 470px;
  justify-content: center;
  font-family: 'Lato', sans-serif;
letter-spacing: 0.5px;
}
#upcoming,#cancel{
width: 40%;
height: 40px;
border: 0px;

}
#upcoming{
background-color: #558b2f;
color: white;
font-size: 18px;
}
#cancel{
border: 1px solid black;
background-color: white;
font-size: 18px;
}
#book{
width: 250px;
margin: auto;
}
#text{
margin: auto;
text-align: center;
width: 90%;
font-size: 18px;
color: rgb(97, 96, 96);
}
#feednote{
    margin: auto;
    width: 85%;
   font-size: 21px;
text-align: center;
letter-spacing: .6px;
font-weight: 500;
} 
#feedtext{
   margin: auto;
   letter-spacing: .6px;
   margin-top: 50px;
   width: 94%;
}      
#intext{
   width: 100%;
height: 200px;
border-radius: 4px;

box-shadow: none;

box-sizing: border-box;
}
#feedbtnbox{
width: 40%;
margin: auto;
margin-top:30px ;
}
#feedbtn{
width: 100%;
height: 42px;
background-color: #f2641a;
border: none;
color: white;
font-size: 20px;

}
.offer{
    margin-top: 12px;
    color: #545252;
}
.offer a{
    color: #545252;
}

#inputbox input:focus{
    outline: none;
}
a{
    text-decoration: none;
}
#navdiv{
    
    border: 1px solid transparent; 
    margin-left: 650px;
width: 470px;
display: flex;
color: #545252;
height: 70px;
}


#logoutBtn{
    cursor: pointer;
}


#navdiv ul{
     display: inline-flex;
     list-style: none ;
     gap: 20px;

}
#down{
    margin-top: 12px;
}

#mobnum{
    border: 1px solid transparent;
    margin-top: 0px;
    height: 5px;
}
#top1{
    border: 1px solid transparent;
    margin-top: 5px;
    height: 90%;
}
#mainm{
    display: flex;
    border: 1px solid transparent;
    height: 100%;
    width: 200px;
    display: flex;
    gap: 20px;
   
}

 #navdiv ul li #menu{
    box-shadow: 0 1px 6px rgb(0 0 0 / 21%);
    width: 200px ;
    position: absolute;
   font-size: 18px;
   height: 90px;
   font-size: 18px;
   line-height: 40px;
   margin-top: 10px;
   background-color: white;
}
  #menu ul {
    display: block;
}
#pline{
    border: 0.2px solid rgb(226, 226, 226);
    width: 115px;
    margin-right: 0px;
}
.d1{
    margin-left: 18px;
}
.d2{
    margin-left: 28px;
}
#menu a{
    color: gray;
}
















/* #navdiv ul li:hover li #menu2{
    box-shadow: 0 1px 6px rgb(0 0 0 / 21%);
    width: 200px ;
    display: block;
    position: absolute;
    margin-right: 50px;
    margin-top: 20px;
   font-size: 18px;
}
#navdiv ul li:hover li #menu2 ul{
    display: block;
    
    
}
#navdiv ul li:hover li #menu2 ul li{
    padding: 10px;
    width: 100%;
    
}  */