#navbar{
    display: flex;
    width:100%;
    height:70px;
    background-color: #212121;
}
#imgdiv{
    width:10%;
    height:90%;
    margin-top: 0.5%;
    margin-left: 7%;
    border: 1px solid transparent;
}

#tabsdiv{
    display: flex;
    width:20%;
    height: 60%;
    margin-left: 55%;
    margin-top: 1%;
    border: 1px solid transparent;
    justify-content: space-around;
    color:white;
    font-family: 'lato', sans-serif;
    font-size: 16px;
}